# appveyor.yml
build: off

clone_folder: /usr/go/src/github.com/eswdd/appveyor_pr_checker

environment:
  GOPATH: /usr/go/

stack: go 1.10

before_test:
  - go vet ./...

test_script:
  - go test ./...

